<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>division</title>
		<style>
			
			html, body {
				display:flex;
				flex-direction:column;
				background-color:rgb(240, 240, 240);
				padding:0px;
				margin:0px;
			}
			
			#class_right {
				position:absolute;
				left:1500px;
				top:300px;
			}
			
			a {
				padding:2px;
				background-color:#70dbdb;
				border:1px solid black;
				color:black;
				text-decoration:none;
			}
			
			a:hover {
				color:white;
				border:1px solid white;
			}
			
		</style>
		
	</head>
	<body>
		
		<div id="class_right">
		
			<button type="submit">Войти</button>
			<a href="login">Регистрация</a>
		
		</div>
		
	</body>
</html>